.nas-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/nas-slide-00.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    background-attachment: fixed;

    &-content {
        margin-top: 16rem;
        position: relative;
        z-index: 1;

        h1 {
            color: $nasWhite;
            font-size: 8rem;
            font-weight: 900;
            margin: 0;
            margin-bottom: 1rem;
            line-height: 1;

            @media (max-width: 768px) {
                font-size: 4rem;
            }
        }

        h5 {
            color: $nasWhite;
            margin: 0;
        }

        .typewriter-container {
            position: relative;
            z-index: 1;
        }
        
        .typewriter-title {
            font-size: 2rem;
            font-weight: 700;
            color: #fff;
            display: inline-block;
            border-right: 2px solid #007bff;
            padding-right: 5px;
            white-space: nowrap;
            overflow: hidden; /* Ensures text is hidden until typed */
        }
        
        @keyframes blink {
            0% { border-color: $nasYellow; }
            50% { border-color: transparent; }
            100% { border-color: $nasYellow; }
        }
        
        .typewriter-title {
            animation: blink 0.75s step-end infinite; /* Blinking cursor effect */
        }
    }

    .compass-points {
        position: relative;
        z-index: 1;
        color: $nasWhite;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;

        span::before {
            content: '•';
            color: $nasYellow;
            margin-right: 0.5rem;  
        }
    }

      

    .side-background {
        background-color: $nasRed;
        width: 550px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        
        @media (max-width: 960px) {
            width: 200px;
        }

        @media (max-width: 768px) {
            width: 100px;
        }
    }
}

