// .featured-events {
//     padding: 5rem 0;

//     h2 {
//         font-size: 2.5rem;
//         font-weight: 600;
//         margin-bottom: 2rem;
//     }

//     .carousel-item {
//         background: $nasWhite;
//         border-radius: 20px;
//         height: 600px;
//         overflow: hidden;
//         transition: transform 0.3s ease-in-out;
//         margin: 10px;
//         position: relative;

//         img {
//             border-radius: 20px 20px 0 0;
//             width: 100%;
//             height: 350px;
//             object-fit: cover;
//         }

//         &-content {
//             background: $nasWhite;
//             border-radius: 0 0 20px 20px;
//             padding: 20px;
//         }

//         &-cta {
//             font-weight: 600;
//             position: absolute;
//             bottom: 20px;
//             left: 20px;
//             color: $nasRed;
//         }

//         &:hover {
//             transform: translateY(-5px);
//         }
//     }
// }

.featured-events-section {
    background: $nasWhite;
    padding: 5rem 0;
  
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
  
  .events-container {
    position: relative;
    width: 100%;
    margin: auto;
  
    .event-slide {
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      .event-link {
        text-decoration: none;
        color: inherit;
        height: 550px;  // Ensure full height for the link
        display: flex;
        flex-direction: column;
      }
  
      .event-thumbnail img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
      }
  
      .event-details {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;  // Ensures equal height for event details section
  
        .event-title {
          font-size: 1.2rem;
          margin-bottom: 10px;
          color: $nasBlack;
          flex-grow: 1;  // Ensure title area expands to fill space
        }
  
        .event-date {
          font-size: 1rem;
          color: #555;
          background-color: #f0f0f0;
          display: inline-block;
          padding: 8px 15px;
          border-radius: 20px;
          margin-top: 10px;
          font-weight: 500;
        }
      }
    }

    .swiper-button-next:after, .swiper-button-prev:after {
      display: none;
    }
  
    .swiper-button-next, .swiper-button-prev {
      color: $nasWhite;
      font-size: 15px;
      width: 40px;
      height: 40px;
      background-color: $nasRed;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      svg {
        width: 15px;
      }
    }
  
    .swiper-pagination-bullet {
      background-color: $nasRed;
    }
  
    .swiper-pagination-bullet-active {
      background-color: $nasRed;
    }
  }
  