/*================== Footer CSS ===================== */

footer {
    background-color: $nasWhite;
    border-top: 1px solid #ddd;
    color: #666;
    padding: 1rem;
    text-align: center;

    .footer-logo img {
        width: 200px;
    }
}

.footer-logo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    a {
        transition: 350ms;

        &:hover {
            transform: translateY(-5px);
        }
    }

    img {
        height: 75px;
        width: auto;
        margin: 0 0.5rem;
    }
}

.footer-socials {
    margin-top: 15px;
    a {
        color: $nasBlack;
        font-size: 1.5rem;
        margin: 0 10px;
        transition: 350ms;

        &:hover {
            color: $nasRed;
            text-decoration: none;
        }
    }
}