section.single-post {
    background: $nasWhite;
}

.single-post-container {
    margin-top: 2rem;
    padding: 20px;
    background: #fff;
  
    .post-thumbnail-container {
      position: relative;
      margin-bottom: 20px;
  
      .post-thumbnail img {
        width: 100%;
        height: auto;
        display: block;
      }
  
      .post-category {
        position: absolute;
        top: 20px;
        right: 20px;
  
        .category-button {
          background-color: $nasRed;
          color: white;
          padding: 10px 15px;
          border-radius: 20px;
          font-size: 0.9rem;
          text-decoration: none;
          font-weight: 600;
          transition: background-color 0.3s ease-in-out;
  
          &:hover {
            background-color: darken($nasRed, 10%);
            text-decoration: none;
            color: $nasYellow;
          }
        }
      }
    }
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
  
    .post-content {
      font-size: 1.1rem;
      line-height: 1.8;
      margin-bottom: 40px;
    }

    a {
        color: $nasRed;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: darken($nasRed, 10%);
            text-decoration: none;
        }
    }
  
    .post-meta {
      margin-bottom: 20px;
      font-size: 0.9rem;
      color: #555;
    }
  
    .post-navigation {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
  
    .comments-section {
      margin-top: 40px;
    }
}


.sidebar {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-top: 2rem;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    position: relative;
  
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background-color: $nasRed;
      margin-top: 10px;
    }
  }
  
  /* Recent Posts Section */
  .recent-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recent-posts li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .recent-posts li a {
    font-size: 14px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: 350ms;

    &:hover {
        color: $nasRed;
        transform: translateX(5px);
    }
  }
  
  .recent-posts .thumbnail {
    margin-right: 10px;
  }
  
  .recent-posts .thumbnail img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  /* Category List Section */
  .category-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-list li {
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateX(5px);
    }
  }
  
  .category-list li a {
    color: $nasRed;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}